<!-- index.html -->

{% extends 'base.html' %} {% block content %}
{% load static %}
{% csrf_token %}

<div class="max-w-2xl p-2 mx-auto" x-data="modelData" >
    <div>{% include 'top-bar.html' %}</div>
    <div>{% include 'model-card.html'%}</div>
</div>

{{ model_list | json_script:"model_list" }}

<script src="{% static 'js/ollamoma.js' %}"></script>

<footer>
    <div class="flex justify-center mt-2 text-center">
        <div id="ollama_status"></div>
    </div>
</footer>
<script>
    window.ollama_failed = false;
    let maxRetries = 5;
    let timer = 5;
    function getStatus(){
        fetch('get-status/').then(response => response.json()).then(data => {
            if (window.ollama_failed) {
                window.ollama_failed = false;
                window.location.reload();
            }
            document.getElementById('ollama_status').classList.toggle('text-' + (data.status === 'Ollama is running' ? 'success' : 'error'), true);
            document.getElementById('ollama_status').innerText = 'STATUS: ' + data.status;

        }).catch(err => {
            window.ollama_failed = true;
            document.getElementById('ollama_status').classList.add('text-error');
            document.getElementById('ollama_status').innerText = 'STATUS: Ollama is not running';

            if (maxRetries > 0) {
                maxRetries--;
                timer = 5;
                displayTimer();

            } else {
                document.getElementById('ollama_status').innerText = 'STATUS: Ollama is not running (giving up)';
            }
        });
    }
    
    function displayTimer() {
        document.getElementById('ollama_status').innerText += '.';
        timer--;
        if (timer > 0) {
            setTimeout(displayTimer, 1000);
        } else {
            getStatus();
        }
    }
    getStatus();
</script>

    
{% endblock %}

