<div class="px-2 pb-1">
    <textarea 
        x-data="textareaData()"
        rows="10" 
        class="w-full px-2 py-1 transition duration-200 ease-in-out rounded rounded-b-lg resize-none bg-base-200
            focus:outline-none hover:bg-base-300 focus:bg-base-300
            scrollbar-thin"
        :id="$id('textarea-' + model.name)"
        :name="$id('textarea-' + model.name)"
        :value="model.modelFile ? model.modelFile : 'LOADING MODELFILE...' "
        autocorrect="off"
        autocomplete="off"
        @input="model.isModified = true"
    ></textarea>
</div>
